body{
    overflow-x: hidden;
    background-color: black;
    scroll-behavior: smooth;
    
}
body::-webkit-scrollbar{

    width: 10px;
    height: 20px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 12px;
    transition: all 0.3s ease;
}
#navbar{

    background-color: #1a1a1a;
    color: white;
}
.custom-toggler.navbar-toggler {
  border-color: wheat;
  color: wheat;
  background-color: wheat;
}
#nava{
    color: white;
    margin-left: 50px;
    font-size: 2.5rem;
    font-weight: bolder;
}
@media (min-width:769px) {
    #navbar{
        padding: 0;
    }
    #nava{
        font-size:1.2rem;
    }
}
#anav{
    padding: 20px;
    margin: 10px;
    color: white;
}
#anav:hover{
    color: wheat;
    font-size: 1.3rem;
}
#banner{
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    width: 100%;
    padding: 50px;
}
.imgb{
    border: 0;
    outline: 0;
    height: 80%;
    width: 80%;
    margin: 8%;
    margin-bottom: 0;
    vertical-align: middle;
    border-radius: 60px 60px 60px 0px;
    box-shadow: 10px  10px 25px rgba(245, 222, 179, 0.267);
}
#sman{
    filter:brightness(100) invert(1) ;
}
.button{
    margin: 3px;
    background:transparent;
    border: 2px  solid white;
    color: wheat;
    height: 50px;
    width: 120px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: all 0.8s ease-out  ;
}
.button:hover{
    background: transparent;
    background-color: wheat;
    color: black;
    border: 0;
}
.button a{
    color: wheat;
    font-weight: bolder;
}
.button:hover a{
    color: #1a1a1a;
    font-weight: bolder;
}
#aboutme{
    background-color: #1a1a1a;
    color: whitesmoke;
    border: 2px solid white;
    padding: 5px;
}
.imga{
    margin: 5px  20px;
    border-radius: 50%;
    outline: solid 2px white;
}
#skills{
    /* background-color:  rgba(245, 222, 179, 0.909); */
    background-color: #1a1a1a;
    color: wheat;
}
.topics{
    padding: 10px;

}
#ts{
    border: solid 2px wheat;
    border-top: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items:center ;

}
.topics h4{
    color: wheat;
    font-size: 2rem;
    padding-left:10px;
    margin-bottom: 5px;
    width: 90px;

}
.topics p{
    color: wheat;
    font-size: 0.8rem;
    padding-left: 20px;
    margin-left: 80px;
}


.topics h4{
    color: wheat;
    font-size: 2rem;
    padding-left:10px;
    margin-bottom: 20px;
    width: 90px;
    border-bottom: solid 2px;
}
.topics p{
    color: wheat;
    font-size: 0.8rem;
    padding-left: 20px;
    margin-left: 20px;
}
#projects{
    background-color:#1a1a1a;
    height: 60%;
    padding: 10px;
    
}
#prow{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pcol{
    display: flex;
    justify-content: center;
}
.card1 {
    box-sizing: border-box;
    width: 390px;
    height: 280px;
    background: whitesmoke;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    flex-direction: column;
    margin-right: 10px;
  }
@media screen and (max-width: 767px) {
    .card1{
       margin: 10px;

    }
    #projects{
        height: 80%;
        padding: 10px;
        
    }
}
  
  .card1:hover {
    border: 1px solid black;
    transform: scale(1.05);
    background-color: wheat;
  }
  
  .card1:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
.picon{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.topic{
    font-size: 1.5rem;
    color:black;
    font-weight: bolder;
}
/* #iconr{
    display: flex;
    justify-content: center;
    flex-direction: row;
} */
#foot{
    width: 100%;
    height: 220px;
    background-color: #1a1a1a;
    color: white;
    border: 2px solid wheat;
    
}
#contactbg {
    background-color: #1a1a1a;
    padding: 5%;
    border-radius: 10px;
    color: white;
  }
  
  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  form {
    border: solid white 2px;
    padding: 5%;
    max-width: 700px;
    margin: 50px auto;
      border-radius: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 20px;
  }
  
  input[type="submit"] {
    background-color: wheat;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border: 2px solid white;
  }
  
.card2 {
    width: 350px;
    height: 200px;
    background-color:#1a1a1a;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
  }
  
  .card2:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
     background: wheat; 

  }
  
  .first-content2 {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  @media screen and (max-width: 767px) {
    .card2:hover .second-content2{
      font-size: 20px;
      padding: 25px;
    }
  }
  .card2:hover .first-content2 {
    height: 0px;
    opacity: 0;
  }
  
  .second-content2 {
    color: black;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
    padding: 10px;
  }
  
  .card2:hover .second-content2 {
    opacity: 1;
    height: 100%;
    font-size: 1rem;
    transform: rotate(0deg);
    padding: 50px;
  }
  @media screen and (max-width: 767px) {
  
    .card2:hover {
  
      transform: scale(1.04);
    }
    .card2{
      width: 90%;
      font-size: 20px;
    }
  }