body{
    overflow-x: hidden;
    background-color: black;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    
}
body::-webkit-scrollbar{

    width: 10px;
    height: 20px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 12px;
    transition: all 0.3s ease;
}
/* Add CSS for small screens (mobile) */
@media (max-width: 768px) {
    #nav .row .col {
        display: none;
        text-align: center;
    }
    #nav{

    }
    #toggleButton {
        display: block;
    }

    #toggleButton img {
        width: 30px; /* Adjust icon size as needed */
        cursor: pointer;
    }

    #toggleButton img#hamburgerIcon {
        display: inline;
    }

    #toggleButton img#crossIcon {
        display: none;
    }

    #nav.collapsed .row .col {
        display: block;
    }

    #nav.collapsed #toggleButton img#hamburgerIcon {
        display: none;
    }

    #nav.collapsed #toggleButton img#crossIcon {
        display: inline;
    }
}

@media (min-width: 769px) {
    #toggleButton {
        display: none;
    }
}


#nav{
    color: white;
    background-color: #1a1a1a;
    text-align: center;
    padding: 25px;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 30px;
    text-align: center;
}
#banner{
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    width: 100%;
    padding: 50px;
}
.imgb{
    border: 0;
    outline: 0;
    height: 80%;
    width: 80%;
    margin: 8%;
    margin-bottom: 0;
    vertical-align: middle;
    border-radius: 60px 60px 60px 0px;
    box-shadow: 10px  10px 25px rgba(245, 222, 179, 0.267);
}
#sman{
    filter:brightness(100) invert(1) ;
}
.button{
    margin: 3px;
    background:transparent;
    border: 2px  solid white;
    color: wheat;
    height: 50px;
    width: 120px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: all 0.8s ease-out  ;
}
.button:hover{
    background: transparent;
    background-color: wheat;
    color: black;
    border: 0;
}
.button a{
    color: wheat;
    font-weight: bolder;
}
.button:hover a{
    color: #1a1a1a;
    font-weight: bolder;
}
#aboutme{
    background-color: #1a1a1a;
    color: whitesmoke;
    border: 2px solid white;
    padding: 5px;
}
.imga{
    margin: 5px  20px;
    border-radius: 50%;
    outline: solid 2px white;
}
#skills{
    /* background-color:  rgba(245, 222, 179, 0.909); */
    background-color: #1a1a1a;
    color: wheat;
}
.topics{
    padding: 10px;

}
#ts{
    border: solid 2px wheat;
    border-top: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.topics h4{
    color: wheat;
    font-size: 2rem;
    padding-left:10px;
    margin-bottom: 20px;
    width: 90px;
    border-bottom: solid 2px;
}
.topics p{
    color: wheat;
    font-size: 0.8rem;
    padding-left: 20px;
    margin-left: 20px;
}
#projects{
    background-color:#1a1a1a;
    height: 60%;
    padding: 10px;
    
}
#prow{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pcol{
    display: flex;
    justify-content: center;
}
.card1 {
    box-sizing: border-box;
    width: 390px;
    height: 280px;
    background: whitesmoke;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .card1:hover {
    border: 1px solid black;
    transform: scale(1.05);
    background-color: wheat;
  }
  
  .card1:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
.picon{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.topic{
    font-size: 1.5rem;
    color:black;
    font-weight: bolder;
}
/* #iconr{
    display: flex;
    justify-content: center;
    flex-direction: row;
} */
#foot{
    width: 100%;
    height: 200px;
    background-color: #1a1a1a;
    color: white;
    border: 2px solid wheat;
    
}